@font-face {
    font-family: "MajorMonoDisplay";
    src: url("../Fonts/MajorMonoDisplay-Regular.ttf");
}

@font-face {
    font-family: "MuseoModerno";
    src: url("../Fonts/MuseoModerno-VariableFont_wght.ttf");
}

:root {
    --azul-pastel: rgb(95, 143, 163);
    --turqueza: #61baa4;
    --amarillo-palido: rgb(255, 255, 221);
    --naranja-zanahoria: rgb(255, 155, 43);
    --verde-claro: rgb(210, 208, 71);
}

body {
    margin: 0;
    overflow:hidden;
}

/* Login Logout */
.log-in-out{
    position: absolute;
    left: 85%;
    top: 20px;
    display: flex;
}

.log-in-out button{
    background-image: radial-gradient(100% 100% at 100% 0, var(--amarillo-palido) 0, var(--azul-pastel) 100%);
    color: var(--amarillo-palido);
    border: 2px solid transparent;
    box-shadow:5px 5px var(--amarillo-palido), 5px 5px 10px rgb(31, 51, 71);
    width: max-content;
    padding: 8px;
    margin-block: 10px;
    font-size: 18px;
    border-radius: 20px;
    font-family: "MuseoModerno";
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 200ms all;
}

.log-in-out button:hover{
    background-image: radial-gradient(100% 100% at 100% 0, var(--amarillo-palido) 0, var(--naranja-zanahoria) 100%);
    box-shadow: 10px 10px var(--turqueza), 15px 15px 10px rgba(31, 51, 71, 0.3);
    color: var(--amarillo-palido);
    font-size: 20px;
    transition: 150ms all;
}

.log-in-out  button:first-child::after{
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 5px 0 10px;
}

#btnLogin::after{
    width: 28px;
    height: 28px;
    background: url("../Images/Iconos/google.png") no-repeat;
    background-size: contain;
}

.log-in-out img{
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-block: 10px;
    border-radius: 50%;
    border: 3px solid var(--amarillo-palido);
}